@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scroll-left {
    animation: scroll-left var(--scroll-speed, 40s) linear infinite;
  }
  .animate-scroll-right {
    animation: scroll-right var(--scroll-speed, 40s) linear infinite;
  }
}
